services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    ports:
      - "8000:8000"
    environment:
      - GEMINI_API_KEY=AIzaSyBxj-bpDICFQkL-WrZqH9qNseUbfTZaFPQ
    # Thêm Volumes để lưu file PDF và Database người dùng
    volumes:
      - ./app/nlp/data:/app/app/nlp/data
      - ./app/nlp/faiss_index:/app/app/nlp/faiss_index
      - ./users.db:/app/users.db

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend